@media (max-width: 1350px) {
  .right-section > img {
    width: 95%;
  }
}
@media (max-width: 1350px) {
  .left-section-item-title > .top-title > h3 {
    font-size: 80px;
  }
  .left-section-item-title > .bottom-title > h4 {
    font-size: 70px;
    margin-left: 100px;
  }
  .main-page-item-description {
    max-width: 175px;
  }
  .read-more {
    margin-left: 100px;
  }
  .about-us-section > div > p {
    font-size: 15px;
    max-width: 350px;
    margin-bottom: 15px;
  }
  .about-us-section > div > img {
    max-width: 450px;
    width: 100%;
  }
  .meetus {
    max-width: 450px;
  }
  .item-banner {
    max-width: 450px;
  }
  .item-banner > img {
    max-width: 450px;
  }
}
@media (max-width: 1170px) {
  .youtube-section {
    display: block;
  }
  .youtube-video > iframe {
    margin: 0 auto;
  }
}
@media (max-width: 1060px) {
  .about-us-section {
    width: 90%;
    display: block;
    align-items: center;
    text-align: center;
    justify-content: center;
  }
  .about-us-text {
    align-items: center;
  }
  .top-text > h1 {
    font-size: 30px;
  }
  .item-description > p {
    font-size: 20px;
  }
  .item-description > p:nth-child(3) {
    font-size: 20px;
  }
  .youtube-section {
    display: block;
  }
  .youtube-video > p {
    font-size: 20px;
  }
  .youtube-video > iframe {
    margin: 0 auto;
  }
  .contact-section {
    display: block;
  }
  .contact-container {
    margin: 0 auto;
  }
  .map-container {
    margin-top: 20px;
  }
}
@media (max-width: 880px) {
  .item-banner {
    max-width: 300px;
  }
  .item-banner > img {
    max-width: 300px;
  }
  .youtube-video > iframe {
    width: 450;
    height: 315;
  }
}
@media (max-width: 800px) {
  .section-1-container {
    display: block;
  }
  .left-section {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  .left-section-item-title {
    padding-top: 30px;
    display: flex;
    justify-content: space-between;
  }
  .left-section-item-title > .top-title > h3 {
    margin: 0;
  }
  .left-section-item-title > .bottom-title > h4 {
    margin: 0;
    margin-bottom: 15px;
  }
  .main-page-item-description {
    margin: 0;
    margin-bottom: 30px;
  }
  .read-more {
    margin: 0;
    max-width: 100%;
  }
  .map {
    height: 400px;
    width: 400px;
  }
  .item-section {
    display: flex;
    justify-content: flex-start;
    height: 1;
  }
  .item-left-section {
    justify-content: flex-start;
  }
  .top-text > h1 {
    font-size: 20px;
  }
  .item-description > p:first-child {
    font-size: 20px;
  }
  .item-description > p:nth-child(2) {
    font-size: 20px;
  }
  .item-description > p:nth-child(3) {
    font-size: 15px;
  }
  .item-color-section {
    font-size: 15px;
  }
  .item-prices > p:first-child {
    font-size: 12px;
  }
  .item-prices > p:last-child {
    font-size: 12px;
    margin-bottom: 10px;
  }
  .item-price {
    display: block;
  }
}
@media (max-width: 770px) {
  .item-section {
    display: block;
    padding-left: 170px;
  }
  .youtube-section {
    padding-left: 150px;
  }
  .item-prices {
    justify-content: center;
  }
  .item-1-img {
    max-width: 450px;
  }
  .item-left-section {
    height: 250px;
  }
  .item-name-banner {
    text-align: center;
  }
}
@media (max-width: 622px) {
  .youtube-section > .youtube-video > iframe {
    width: 250px;
    height: 200px;
  }
}

@media (max-width: 562px) {
  .section-1-container {
    padding-left: 50px;
  }
  .nav-menu {
    max-width: 80px;
  }
  .social-media-menu {
    padding: 0;
  }
  .logo-container {
    padding: 0;
  }
  #menuToggle {
    left: 30px;
  }
  .contact-section {
    padding-left: 70px;
  }
  .map {
    width: 250px;
    height: 250px;
  }
  .item-section {
    padding-left: 100px;
  }
  .youtube-section {
    padding-left: 80px;
  }
  .slick-track {
    padding-top: 15px;
    padding-left: 15px;
  }
  .contact-container {
    display: block;
  }
  .faq-section {
    margin-bottom: 20px;
  }
}
@media (max-width: 420px) {
  .ask-us-container {
    max-width: 100%;
    margin-right: 0;
  }
  .item-banner {
    max-width: 250px;
  }
  .item-banner > img {
    max-width: 250px;
  }
  .youtube-video > p {
    max-width: 100px;
    font-size: 15px;
    margin: 0 auto 25px;
  }
}
@media (max-width: 380px) {
  .section-1-container {
    padding-left: 50px;
  }
  .map-container > h1 {
    font-size: 10px;
  }
  .left-section-item-title > .top-title > h3 {
    font-size: 60px;
  }
  .left-section-item-title > .bottom-title > h4 {
    font-size: 50px;
  }
  .about-us-section {
    padding-left: 90px;
    padding-right: 0;
  }
  .item-banner {
    max-width: 200px;
  }
  .item-banner > img {
    max-width: 200px;
  }
  .meetus {
    padding-left: 0;
  }
  .map {
    width: 200px;
    height: 200px;
  }
  .item-section {
    padding-left: 98px;
  }
  .youtube-section {
    padding-left: 70px;
  }
  .youtube-section > .youtube-video > iframe {
    width: 200px;
    height: 200px;
  }
}
