/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.3.6,
* Autoprefixer: v10.3.1
* Browsers: last 4 version
*/

/* -------------------fonts----------------- */
body {
  font-family: "Estonia", cursive;
  font-family: "Road Rage", cursive;
}
.nav-menu {
  max-width: 150px;
  width: 100%;
  height: 100vh;
  background-color: #0d0d0d;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  position: fixed;
  z-index: 10000;
}
#menuToggle {
  display: block;
  position: relative;
  top: 40px;
  left: 40px;

  z-index: 1;

  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

#menuToggle a {
  text-decoration: none;
  color: #232323;

  -webkit-transition: color 0.3s ease;

  -o-transition: color 0.3s ease;

  transition: color 0.3s ease;
}

#menuToggle a:hover {
  color: tomato;
}

#menuToggle input {
  display: block;
  width: 42px;
  height: 34px;
  position: absolute;
  top: -7px;
  left: -5px;

  cursor: pointer;

  opacity: 0;
  z-index: 2;

  -webkit-touch-callout: none;
}
#menuToggle span {
  display: block;
  width: 33px;
  height: 4px;
  margin-bottom: 5px;
  position: relative;

  background: #cdcdcd;
  border-radius: 3px;

  z-index: 1;

  -webkit-transform-origin: 4px 0px;

  -ms-transform-origin: 4px 0px;

  transform-origin: 4px 0px;

  -webkit-transition: background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1),
    opacity 0.55s ease, -webkit-transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);

  transition: background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1),
    opacity 0.55s ease, -webkit-transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);

  -o-transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1),
    background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), opacity 0.55s ease;

  transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1),
    background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), opacity 0.55s ease;

  transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1),
    background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), opacity 0.55s ease,
    -webkit-transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
}
#menuToggle span:first-child {
  -webkit-transform-origin: 0% 0%;
  -ms-transform-origin: 0% 0%;
  transform-origin: 0% 0%;
}
#menuToggle span:nth-last-child(2) {
  -webkit-transform-origin: 0% 100%;
  -ms-transform-origin: 0% 100%;
  transform-origin: 0% 100%;
}
#menuToggle input:checked ~ span {
  opacity: 1;
  -webkit-transform: rotate(45deg) translate(-2px, -1px);
  -ms-transform: rotate(45deg) translate(-2px, -1px);
  transform: rotate(45deg) translate(-2px, -1px);
  background: #232323;
}
#menuToggle input:checked ~ span:nth-last-child(3) {
  opacity: 0;
  -webkit-transform: rotate(0deg) scale(0.2, 0.2);
  -ms-transform: rotate(0deg) scale(0.2, 0.2);
  transform: rotate(0deg) scale(0.2, 0.2);
}
#menuToggle input:checked ~ span:nth-last-child(2) {
  -webkit-transform: rotate(-45deg) translate(0, -1px);
  -ms-transform: rotate(-45deg) translate(0, -1px);
  transform: rotate(-45deg) translate(0, -1px);
}
#menu {
  position: absolute;
  max-width: 150px;
  width: 100%;
  margin: -100px 0 0 -50px;
  padding: 50px;
  padding-top: 125px;

  background: #0d0d0d;
  list-style-type: none;
  -webkit-font-smoothing: antialiased;

  -webkit-transform-origin: 0% 0%;

  -ms-transform-origin: 0% 0%;

  transform-origin: 0% 0%;
  -webkit-transform: translate(-100%, 0);
  -ms-transform: translate(-100%, 0);
  transform: translate(-100%, 0);

  -webkit-transition: -webkit-transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);

  transition: -webkit-transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);

  -o-transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);

  transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);

  transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1),
    -webkit-transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
}

#menu li {
  color: #cdcdcd;
  padding: 10px 0;
  font-size: 20px;
}
#menuToggle input:checked ~ ul {
  -webkit-transform: none;
  -ms-transform: none;
  transform: none;
}
.logo-img {
  width: 35px;
}
.social-media-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  padding-right: 40px;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.social-media {
  margin-bottom: 50px;
}
.logo-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  padding-right: 40px;
}
/* ------------------------------------section 1---------------------- */
.section-1-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-left: 150px;
  /* margin-bottom: 40px; */
}
/* ------------------------left secion--------------------------- */
.left-section {
  height: 100vh;
  max-width: 620px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}
.left-section > .left-section-top-text {
  background-color: black;
  margin-left: 53px;
  margin-top: 98px;
  text-align: center;
  max-width: 350px;
  max-height: 70px;
  width: 100%;
  margin-bottom: 160px;
}
.left-section-top-text > h1 {
  color: #4ae8f9;
  padding: 18px 35px;
  font-size: 40px;
}
.left-section-item-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  padding-top: 260px;
}
.left-section-item-title > .top-title > h3 {
  font-size: 145px;
  margin-left: 53px;
}
.left-section-item-title > .bottom-title > h4 {
  font-size: 94px;
  margin-left: 165px;
  margin-bottom: 30px;
}
.left-section-item-title > .bottom-title > h4 > span {
  position: absolute;
  color: red;
}
.main-page-item-description {
  max-width: 350px;
  width: 100%;
  margin-left: 71px;
  margin-bottom: 30px;
}
.main-page-item-description > p {
  font-size: 19px;
}
.read-more {
  margin-left: 265px;
  max-width: 90px;
  width: 100%;
}
.read-more > a {
  font-size: 30px;
}
.read-more:hover {
  background-color: #0d0d0d;
  color: white;
}
/* ---------------------------right section------------------------------- */
.right-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  height: 100vh;
  background-color: #0d0d0d;
  width: 100%;
  overflow: hidden;
}
.right-section > img {
  max-width: 710px;
  width: 100%;
}

/* --------------------footer------------------ */
.slick-dots {
  padding-right: 15px;
}
.slick-dots li {
  width: 27px;
  height: 27px;
  border: solid 2.5px white;
  border-radius: 100px;
  margin-bottom: 10px;
}

.slick-dots li button {
  width: 100%;
  opacity: 0;
}

.slick-dots .slick-active button {
  opacity: 1;
  background-color: #fff;
  border: none;
  color: transparent;
  border-radius: 50%;
  padding: 0;
}
.slick-track {
  padding-top: 50px;
  padding-left: 50px;
}
.footer-menu {
  width: 100%;
  height: 100vh;
  max-width: 50px;
  background-color: #0d0d0d;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}
.footer-scroll {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}
.footer-menu > .footer-scroll > a {
  width: 27px;
  height: 27px;
  border: solid 2.5px white;
  border-radius: 100px;
  padding: 5px;
}
.footer-menu > .footer-scroll > a:not(:last-child) {
  margin-bottom: 15px;
}
.active-page {
  border-radius: 100px;
  width: 11px;
  height: 11px;
  background-color: white;
}
/* .slick-initialized .slick-slide {
    max-width: 750px;
    width: 100%;
  } */
/* .slick-track > img {
    max-width: 750px !important;
    width: 100% !important;
  } */
/* --------------------about us page-------------------- */
.about-us-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
  -ms-flex-pack: space-evenly;
  justify-content: space-evenly;
  padding-left: 170px;
  padding-top: 30px;
  padding-right: 30px;
  margin-bottom: 20px;
}
.about-us-section > div > img {
  margin-right: 30px;
}
.about-us-section > div > p {
  max-width: 532px;
  font-size: 20px;
}
.about-us-section > div > p:not(:last-child) {
  margin-right: 20px;
  margin-bottom: 20px;
}
.about-us-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}
.about-us-title {
  margin-bottom: 20px;
  font-size: 35px;
  color: #8a8989;
}
.meetus {
  max-width: 534px;
  width: 100%;
}
/* -----test------- */
.text-section {
  max-width: 500px;
  width: 100%;
  margin: 0 auto 50px;
  padding-left: 139px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;

  -ms-flex-wrap: wrap;

  flex-wrap: wrap;
}
.left-text {
  width: 100%;
  max-width: 500px;
  margin-right: 16px;
  margin-bottom: 30px;
}
.text {
  width: 100%;
  height: 288px;
  padding: 20px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  border: 2px solid #e8e8e8;
  background-color: #f8f8f8;
  font-size: 13px;
  resize: none;
  margin-right: 16px;
}
.right-text {
  width: 100%;
  max-width: 352px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
  -ms-flex-pack: space-evenly;
  justify-content: space-evenly;
}
.subject-box {
  width: 100%;
  height: 60px;
  padding: 10px 20px;
  background-color: #f8f8f8;
  border: 2px solid #e8e8e8;
  resize: none;
  font-size: 13px;
}
.btn {
  width: 100%;
  height: 60px;
  background-color: #5863f8;
  cursor: pointer;
  font-size: 13px;
  color: white;
  border: 2px solid #ebebeb;
}
/* ----------------item page------------------- */
.item-banner {
  margin-top: 50px;
  margin-left: 50px;
  max-width: 800px;
  background: rgb(2, 0, 36);
  background: -webkit-gradient(
    linear,
    left top,
    left bottom,
    from(rgba(2, 0, 36, 1)),
    color-stop(48%, rgba(99, 99, 110, 1)),
    to(rgba(255, 255, 255, 1))
  );
  background: -o-linear-gradient(
    top,
    rgba(2, 0, 36, 1) 0%,
    rgba(99, 99, 110, 1) 48%,
    rgba(255, 255, 255, 1) 100%
  );
  background: linear-gradient(
    180deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(99, 99, 110, 1) 48%,
    rgba(255, 255, 255, 1) 100%
  );
  border-radius: 30px;
  margin-right: 50px;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}
.item-banner > img {
  max-width: 500px;
  -webkit-animation: hover 3s ease-in-out infinite;
  animation: hover 3s ease-in-out infinite;
}
@-webkit-keyframes hover {
  0%,
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  50% {
    -webkit-transform: translateY(-5px);
    transform: translateY(-5px);
  }
}
@keyframes hover {
  0%,
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  50% {
    -webkit-transform: translateY(-5px);
    transform: translateY(-5px);
  }
}
.item-name-banner {
  margin-top: 50px;
  max-width: 600px;
  width: 100%;
}
.top-text {
  font-family: "M PLUS 1 Code", sans-serif;
}
.top-text > h1 {
  font-size: 50px;
  color: #f26749;
  margin-bottom: 50px;
}
.item-description {
  margin: 0;
  margin-bottom: 50px;
}
.item-description > p:first-child {
  color: #66666a;
  font-size: 30px;
  margin-bottom: 50px;
}
.item-description > p:nth-child(2) {
  color: #f26749;
  font-size: 30px;
  margin-bottom: 50px;
}
.item-description > p:nth-child(3) {
  font-size: 30px;
}
.item-color-section {
  font-size: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin-bottom: 50px;
}
.color-rating {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}
.color-picker {
  position: relative;
  height: 30px;
  width: 30px;
  border-radius: 100px;
  background-color: black;
  border: solid 2.5px #66666a;
  margin-bottom: 40px;
  cursor: pointer;
}
.color-picker > img {
  position: absolute;
  right: -10px;
  bottom: -2px;
  max-width: 25px;
}
.checked {
  color: orange;
}
.item-price {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}
.item-prices {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.item-prices > p:first-child {
  font-size: 20px;
  text-decoration: line-through;
  color: rgb(173, 173, 173);
  margin-right: 5px;
}
.item-prices > p:last-child {
  font-size: 20px;
}
.youtube-section {
  padding-left: 150px;
  text-align: center;
  /* margin-bottom: 30px; */
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  font-size: 30px;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.youtube-video {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  height: 700px;
}
.youtube-video > p {
  margin-bottom: 20px;
}
.item-1-img {
  max-width: 47%;
  width: 100%;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}
.item-section {
  -webkit-box-pack: space-evenly;
  -ms-flex-pack: space-evenly;
  justify-content: space-evenly;
  width: 90%;
}
/* -------------------contact-page---------------------- */
.contact-section {
  padding-left: 150px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
iframe.map {
  width: 100%;
  height: 100%;
  opacity: 0.4;
}

iframe.map:hover {
  opacity: 1;
}
input[type="text"],
select,
textarea {
  width: 100%;
  padding: 6px;
  border: 1px solid #ccc;
  border-radius: 4px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 5px;
  resize: vertical;
}

input[type="submit"] {
  background-color: #04aa6d;
  color: white;
  padding: 6px 6px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type="submit"]:hover {
  background-color: #45a049;
}

.contact-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 650px;
  width: 100%;
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
  -ms-flex-pack: distribute;
  justify-content: space-around;
}
.map-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  background-color: #0d0d0d;
  height: 100vh;
  width: 100%;
}
.map-container > h1 {
  color: white;
  margin-bottom: 30px;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  position: absolute;
  top: 10%;
}
.map-pin {
  width: 100px;
  position: absolute;
}
.ask-us {
  margin-bottom: 20px;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}
.submit {
  margin-bottom: 5px;
}
.ask-us-container {
  max-width: 250px;
  margin-right: 20px;
}
.faq-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}
.faq-section > h1 {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  margin-bottom: 20px;
}
.faq-section > a {
  font-size: 15px;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  margin-bottom: 5px;
}
.faq-section > input {
  margin-bottom: 30px;
}
.plank {
  height: 1px;
  margin-bottom: 30px;
  width: 100%;
  background-color: #8a8989;
}
.contact-bottom-line-1 > h1 {
  font-size: 25px;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  margin-bottom: 15px;
}
.contact-bottom-line-1 > h3 {
  font-size: 20px;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  opacity: 50%;
  margin-bottom: 20px;
}
.mail-phone {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}
.mail-phone > a {
  margin-bottom: 10px;
}
.ask-us-container > form {
  margin-bottom: 30px;
}
